@import "./var";

.statistics {
    width: 80%;
    background: $trainBg;
    margin-top: 5%;
    margin-bottom: 3%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: 2px solid #833ab4;
   
    @media (max-width: 767px) {
        width: 95%;
        font-size: 0.6rem;
    }
}


.wrapper__game {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.wrapper__game-items {
    width: 100%;
    display:flex;
}

.statistics__header {
    display: flex;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.header__word {
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;
}

.header__translate {
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;
}

.header__category {
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;
}
.header__train {
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;
}

.header__game {
    width:100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
}

.header__correct {
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-right: 1px solid gray;
}

.header__error {
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-right: 1px solid gray;
}

.header__percents {
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.row {
    display: flex;
    border-bottom: 1px solid gray;
}

.word {
    display:flex;
    width: 17%;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;
}

.translate {
    display:flex;
    width: 17%;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;
}

.category {
    display:flex;
    width: 17%;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;
}
.train {
    display:flex;
    width: 17%;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;
}

.game {
    width:100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
}

.game__items {
    display: flex;
    width: 27.5%;
}

.correct {
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-right: 1px solid gray;
}

.error {
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-right: 1px solid gray;
}

.percents {
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    text-align: center;
}

.statistics__btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
  
}

.btn {
    width: 20%;
    height: 40px;
    border: 0;
    margin: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    border-radius: 10px;
    background: $playBg;
    transition: all 200ms ease-in-out;
    opacity: 0.9;
    cursor:pointer;

    &:hover {
        background: linear-gradient(to bottom, #dc2430, #7b4397);
    }

    @media (max-width: 767px) {
        width: 30%;
        font-size: 0.7rem;
    }
}
 
.btn-difficult {
    width: 40%;
    font-size: 1.2rem;
}