body {
display: flex;
flex-direction: column;
justify-content: space-between;
min-height: 100vh;
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 20px;
line-height: 28px;
}

.header {
height: 110px;
color: #fff;
background-color: #2C3E50;
background-image: url(../assets/img/header.svg);
background-size: cover;
margin-bottom: 40px;
overflow-x: hidden;
}

.header h1 {
font-size: 40px;
font-weight: 900;
text-align: center;
padding: 0;
margin: 0;
line-height: 110px;
}

.container {
max-width: 1440px;
margin: 0 auto;
}

.search {
position: relative;
font-family: 'Roboto', sans-serif;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 25px;
width: 100%;
color: rgb(33, 37, 41);
height: 45px;
}

.search .search-input {
width: calc(100% - 90px);
max-width: 1350px;
}

.search-input {
background-image: url(../assets/img/search.svg);
background-repeat: no-repeat;
background-size: 34px;
background-position: 10px 5px;
border-radius: 5px;
border: 1px solid rgb(206, 212, 218);
color: rgb(123, 138, 139);
cursor: text;
display: block;
font-size: 22px;
font-weight: 400;
height: 45px;
padding: 8px 15px;
padding-left: 65px;
padding-right: 150px;
}

.search-input:focus {
outline: 0;
}

.search-btn {
background-color: rgb(214, 44, 26);
border: 1px solid rgb(202, 42, 25);
border-radius: 5px;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family: Roboto, sans-serif;
font-weight: 400;
height: 45px;
padding: 8px 15px;
width: 90px;
}

.search-btn:active,
.search-btn:focus {
outline: 0;
border: 0;
}

.search-tia {
position: absolute;
width: 48px;
height: 28px;
background-image: url(../assets/img/tia.png);
right: 120px;
cursor: pointer;
opacity: .8;
transition: .2s;
}

.search-tia:hover {
opacity: 1;
}

.search-clear {
position: absolute;
width: 48px;
height: 28px;
background-image: url(../assets/img/clear.svg);
background-size: 20px;
background-position: center center;
background-repeat: no-repeat;
right: 180px;
cursor: pointer;
opacity: .8;
transition: .2s;
}

.search-clear:hover {
opacity: 1;
}

.tooltip:hover:after {
content: attr(data-name);
position: absolute;
padding: 7px 12px;
width: 80px;
top: 50px;
left: -28px;
background: #343944;
border-radius: 8px;
color: #fff;
text-align: center;  
font-size: 16px;
}

.tooltip:hover:before {
content: "";
position: absolute;
top: 25px;
left: 10px;
width: 0; 
height: 0; 
border: 15px solid transparent;
border-bottom-color: #232323;  
}

.info {
height: 40px;
margin: 0;
padding: 0 10px;
margin-bottom: 30px;
font-size: 24px;
font-weight: 400;
line-height: 40px;
text-align: center;
color: rgb(214, 44, 26);
}

.card {
width: 300px !important;
max-width: 300px;
border: 0;
margin: 10px 0px;  
overflow: hidden;
}

.card-header {
display: block;
height: 43px;
margin-bottom: 15px;
overflow: hidden;
background-color: #fff;
color: #000;
text-align: center;
font-size: 24px;
padding: 15px;
white-space: pre-wrap; 
text-overflow: clip; 
}

.card-body {
height: 445px;
background-size: cover;
}

.card-footer {
background-color: #fff;
color: #000;
text-align: center;
padding: 15px;
padding-bottom: 5px;
}

.card-imbd {
text-align: center;
padding: 5px;
margin-bottom: 20px;
}

.card-imbd span {
position: relative;
padding-left: 10px;
}

.card-imbd span::before {
content: "";
position: absolute;
background-image: url(../assets/img/star.svg);
width: 24px;
height: 24px;
top: -2px;
left: -25px;
}

.footer {
width: 100%;
min-height: 60px;
background-color: #33333f;
border-top: 2px solid #242A33;
margin-top: 40px;
}

.footer-container {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
min-height: 60px;
max-width: 1440px;
margin: 0 auto; 

}

.footer-container a {
color: #eee;
text-decoration: none;
transition: .3s;
}

.footer-container a:hover {
color: #d62c1a;
}

.github {
position: relative;
padding-left: 50px;
}

.github::after {
content: "";
position: absolute;
left: 0px;
top: -4px;
width: 32px;
height: 32px;
background-image: url(../assets/img/github.svg);
background-size: cover;
}

@media (max-width: 1600px) {
.container {
    max-width: 1060px;
}
.footer-container {
    max-width: 1060px;
}
}

@media (max-width: 1200px) {
.container {
    max-width: 680px;
}
.footer-container {
    max-width: 680px;
}
}

@media (max-width: 820px) {
.swiper-btn {
    display: none;
}
}

@media (max-width: 700px) {
.container {
    max-width: 440px;
    padding: 0 10px;
}
.footer-container {
    max-width: 440px;
}
.swiper-outer {
    max-width: 300px;
    margin: 0 auto;
}  
.search-tia {
    display: none;
}  
.search-clear {
    right: 100px;
}
.search-input {
    padding-right: 50px;
}
}

@media (max-width: 500px) {
.search {
    flex-direction: column;    
}
.search .search-input {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: none;
    margin-bottom: 20px;
}
.search-clear {
    display: none;
}
.search-btn {
    width: 300px;
    min-height: 44px;
}
.footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;    
}
.rss {
    margin-bottom: 20px;
}
}