@import "/var";


*,
*:before,
*:after {
    box-sizing: border-box;
}

fieldset {
    position: relative;
    margin-top: 50px;
    margin-right: 120px;

    @media (max-width: 520px) {
        margin-right: 40px;
    }
}

.toggle__input {
    line-height: 0;
    font-size: 0;
    display: inline-block;
    margin: 0;
}

.toggle__input input {
    display: block;
    position: absolute;
    opacity: 0;
    width: 100px;
    height: 30px;
}

.switch {
    display: inline-block;
    position: relative;
    height: 34px;
    width: 105px;
    border-radius: 5px;
    background: $trainBg;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.switch:before {
    content: "";
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 15%;
    background-color: #fafafa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    position: absolute;
    top: 2px;
    left: 5px;
}

.toggle__text {
    position: absolute;
    top: 10px;
    right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
}

.toggle__input input:checked+.switch {
    background: $playBg;
    transition: all 200ms ease-in-out;
}

.toggle__input input:checked+.switch:before {
    left: 70px;
    transition: all 200ms ease-in-out;
}

.text__right {
    right: 45px;
    transition: all 200ms ease-in-out;
}